apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app-python.fullname" . }}
  labels:
    {{- include "app-python.labels" . | nindent 4 }}
spec:
    {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "app-python.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/agent-inject-secret-config: "secret/data/app-python/config"
        vault.hashicorp.com/agent-inject-template-config: |
          {{ .Files.Get "templates/vault-template.yaml" | nindent 10 }}
        vault.hashicorp.com/role: "app-python"
        { { - with .Values.podAnnotations } }
        { { - toYaml . | nindent 8 } }
        { { - end } }
      labels:
        {{- include "app-python.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "app-python.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{ - toYaml .Values.resources | nindent 12 }}
          {{ - with .Values.volumeMounts }}
          volumeMounts:
            - name: config-volume
              mountPath: /app/config.json
              subPath: config.json
            {{- if .Values.volumeMounts }}
            {{- toYaml .Values.volumeMounts | nindent 12 }}
            {{- end }}
          env:
            - name: APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "app-python.fullname" . }}-secret
                  key: APP_SECRET
            - name: APP_ENV
              valueFrom:
                secretKeyRef:
                  name: {{ include "app-python.fullname" . }}-secret
                  key: APP_ENV
      volumes:
        - name: config-volume
          configMap:
            name: {{ include "app-python.fullname" . }}-config
      {{- if .Values.volumes }}
        {{- toYaml .Values.volumes | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}